body {
    background: linear-gradient(135deg, #f1f5f9 0%,#edf2f9 17%,#e2ebf6 33%,#eaf0f8 52%,#e5ecf7 66%,#e8f0fa 75%,#dde6f3 88%,#d3deed 100%);
}

.title {
    margin-top: 1rem !important;
    background-color: rgba(0, 0, 0, 0) !important;
}

.separation4 {
    height: 4rem;
}

.separation6 {
    height: 6rem;
}

footer {
    background-color: grey;

    a {
        color: white;
        font-size: 0.8rem;

        &:hover {
            text-decoration: none;
        }
    }

    p {
        font-size: 0.8rem;
        line-height: 0.8rem;
    }
    
}
