html {
  scroll-behavior: smooth; }

body {
  margin-top: 94px;
  background: linear-gradient(135deg, #f1f5f9 0%, #edf2f9 17%, #e2ebf6 33%, #eaf0f8 52%, #e5ecf7 66%, #e8f0fa 75%, #dde6f3 88%, #d3deed 100%); }

.separation {
  height: 6rem; }

a {
  font-size: 0.8rem; }
  a:hover {
    text-decoration: none; }

#blob-face {
  position: relative;
  top: 3rem;
  left: 2rem; }

#photo {
  height: 10rem; }

.star-row {
  height: 40px; }

.anchors {
  position: relative;
  bottom: 94px; }

#navbar {
  opacity: 0.5;
  transition: 1s; }
  #navbar:hover {
    opacity: 1;
    transition: 1s; }

@media (max-width: 1199px) {
  #second-xppro {
    margin-right: 0 !important; }

  #third-xppro {
    margin-left: 0 !important;
    margin-top: 1rem; } }
@media (max-width: 993px) {
  .skills-txt {
    font-size: 0.7rem; }

  .star-row {
    margin-top: 0 !important; }

  .star {
    margin-bottom: 0 !important; } }
@media (max-width: 890px) {
  body {
    margin-top: 142px; }

  #navbar {
    width: 20rem; }

  .anchors {
    bottom: 142px; } }
@media (max-width: 767px) {
  #first-xppro {
    margin-right: 0 !important;
    margin-bottom: 2rem !important; }

  #second-xppro {
    margin-left: 0 !important;
    margin-top: 2rem !important;
    margin-bottom: 2rem !important; }

  #third-xppro {
    margin-top: 2rem !important; } }
@media (max-width: 420px) {
  body {
    margin-top: 238px; }

  #navbar {
    width: 12rem; }

  .anchors {
    bottom: 250px; } }
.nes-container p {
  margin-top: 3rem; }

#carou-row {
  width: 600px;
  margin-left: auto;
  margin-right: auto; }
  #carou-row .carousel-caption {
    color: #2158ff; }

.fancybox-slide--iframe .fancybox-content {
  width: 100%;
  height: 100%;
  margin: 0; }

footer .row {
  background-color: grey; }
footer a {
  color: white; }

/*# sourceMappingURL=style.css.map */
